USE [master]
GO
/****** Object:  Database [Library]    Script Date: 5/31/2022 2:34:24 PM ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/31/2022 2:34:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Book_id] [int] IDENTITY(1,1) NOT NULL,
	[Book_title] [nvarchar](40) NOT NULL,
	[Book_publisher] [nvarchar](40) NOT NULL,
	[Book_genre] [nvarchar](40) NOT NULL,
	[Book_author] [nvarchar](40) NOT NULL,
	[Published_year] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issued_books]    Script Date: 5/31/2022 2:34:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issued_books](
	[Issue_id] [int] IDENTITY(1,1) NOT NULL,
	[Issue_date] [date] NOT NULL,
	[Period] [int] NOT NULL,
	[User_id] [int] NULL,
	[Book_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Issue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Returned_books]    Script Date: 5/31/2022 2:34:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Returned_books](
	[Return_id] [int] IDENTITY(1,1) NOT NULL,
	[Return_date] [date] NOT NULL,
	[Period] [int] NOT NULL,
	[User_id] [int] NULL,
	[Book_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/31/2022 2:34:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](40) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [nvarchar](40) NOT NULL,
	[StudentEmail] [nvarchar](50) NOT NULL,
	[StudentPassword] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Book_id], [Book_title], [Book_publisher], [Book_genre], [Book_author], [Published_year]) VALUES (1, N'Harry Potter', N'Bulvest', N'fantasy', N'J.K.Rowling', N'2000')
INSERT [dbo].[Books] ([Book_id], [Book_title], [Book_publisher], [Book_genre], [Book_author], [Published_year]) VALUES (16, N'asd', N'asd', N'asd', N'asd', N'asd')
INSERT [dbo].[Books] ([Book_id], [Book_title], [Book_publisher], [Book_genre], [Book_author], [Published_year]) VALUES (17, N'asd', N'asd', N'asd', N'asd', N'asd')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
ALTER TABLE [dbo].[Issued_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Issued_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Issued_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Issued_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Issued_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Issued_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([Book_id])
REFERENCES [dbo].[Books] ([Book_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Returned_books]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
USE [master]
GO
